
{
  "printWidth": 100,
  "proseWrap": "always",
  "tabWidth": 2,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 100,
        "proseWrap": "always",
        "tabWidth": 2
      }
    }
  ]
}
